<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/svgs.css">
    <title><%= title %></title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="global-wrapper">
        <%- include('partials/navbar', { navLinks }) %>
        <% if (errors && errors.length !== 0) { %>
            <%- include('partials/errors', { errors }) %>
        <% } %>
        <div class="content">
            <% if (locals.user) {%>
                <h1>WELCOME BACK <%= user.username %></h1>
                <a href="/log-out" class="btn">LOG OUT</a>
            <% } else { %>
                <h1>please log in</h1>
                <form action="/log-in" method="POST">
                    <label for="username">Username</label>
                    <input id="username" name="username" placeholder="username" type="text" />
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" />
                    <button type="submit" class="btn">Log In</button>
                </form>
                <div class="sign-up-option">
                    <h3>Or</h3>
                    <a href="/sign-up" class="btn">Sign Up</a>
                </div>
            <%}%>
        </div>
    </div>
    <%- include('partials/footbar') %>
</body>
</html>